.containerDetailP11{
    max-width: 297mm !important;
}

.srNoDetailPrint11{
    width: 40px;
    min-width: 40px;
}

.designDetailPrint11{
    width: 175px;
    min-width: 175px;
}

.diamondStoneDetailPrint11{
    width: 500px;
    min-width: 500px;
}

.goldDetailPrint11{
    width: 200px;
    min-width: 200px;
}

.labourDetailPrint11{
    width: 200px;
    min-width: 200px;
}

.totalAmountDetailPrint11{
    width: 120px;
    min-width: 120px;
}

.shapeDetailPrint11{
    width: 60px;
    min-width: 60px;
}

.sizeDetailPrint11{
    width: 60px;
    min-width: 60px;
}

.pcsDetailPrint11{
    width: 60px;
    min-width: 60px;
}

.diaDetailPrint11{
    width: 60px;
    min-width: 60px;
}

.priceDetailPrint11{
    width: 60px;
    min-width: 60px;
}

.diaAmtDetailPrint11{
    width: 60px;
    min-width: 60px;
}

.settingTypeDetailPrint11{
    width: 60px;
    min-width: 60px;
}

.settingPriceDetailPrint11{
    width: 60px;
    min-width: 60px;
}

.totalAmountDetailPrint11{
    width: 60px;
    min-width: 60px;
}
