.containerDetailP11{
    max-width: 297mm !important;
    line-height: 100%;
    font-size: 10px;
}

.srNoDetailPrint11{
    width: 30px;
    min-width: 30px;
}

.designDetailPrint11{
    width: 150px;
    min-width: 150px;
}

.diamondStoneDetailPrint11{
    width: 489px;
    min-width: 489px;
}

.goldDetailPrint11{
    width: 194px;
    min-width: 194px;
}

.labourDetailPrint11{
    width: 150px;
    min-width: 150px;
}

.totalAmountJewelleryDetailPrint11{
    width: 76px;
    min-width: 76px;
}

.shapeDetailPrint11{
    width: 50px;
    min-width: 50px;
}

.sizeDetailPrint11{
    width: 50px;
    min-width: 50px;
}

.pcsDetailPrint11{
    width: 50px;
    min-width: 50px;
}

.diaDetailPrint11{
    width: 50px;
    min-width: 50px;
}

.priceDetailPrint11{
    width: 70px;
    min-width: 70px;
}

.diaAmtDetailPrint11{
    width: 50px;
    min-width: 50px;
}

.settingTypeDetailPrint11{
    width: 50px;
    min-width: 50px;
}

.settingPriceDetailPrint11{
    width: 50px;
    min-width: 50px;
}

.totalAmountDetailPrint11{
    width: 69px;
    min-width: 69px;
}

.settingTypeTotalDetailPrint11{
    width: 100px;
    min-width: 100px;
}

.pad_bt_20DetailPrint11{
    padding-bottom: 20px;
}

.settingTotalPriceDetailPrint11{
    width: 59px;
    min-width: 59px;
}

.totalDesignDetailPrint11{
    width: 180px;
    min-width: 180px;
}

.remarkDetailPrint11{
    width: 350px;
    min-width: 350px;
}

.blankSpaceDetailPrint11{
    width: 309px;
    min-width: 309px;
}

.goldDetailsPrints11{
    width: 204px;
    min-width: 204px;
}

.totalLessDetailPrint11{
    width: 74px;
    min-width: 74px;
}

.totaljewAmountDetailPrint11{
    width: 154px;
    min-width: 154px;
}

.grandTotalDetailprint11{
    width: 937px;
    min-width: 937px;
}

.grandTotalNumberDetailPrint11 {
    width: 153px;
    min-width: 153px;
}

.min_height_20DetailPrint11{
    min-height: 20px;
}