.headline_dp5{
  align-items: center;
  background-color: rgb(147, 146, 146);
  color: rgb(255, 255, 255);
  display: flex;
  font-weight: 700;
  height: 30px;
  justify-content: flex-start;
  padding: 0.6rem;
  width: 100%;
  font-size: 20px !important;
}

.spbrWord {
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
}