.detailPrint5 {
  word-break: normal;
  font-size: 12px;
  font-family: Calibri;
}
.sumFont{
  font-size: 9px;
}
.sumCent{
  padding-top: 3px;
}
.detailPrint5{
  zoom: 1.5;
}

.detailPrint5Table {
  font-size: 8px;
}

.detailPrint5 p, .metal > div > div, .diamond > div > div, .stone > div > div, .labour > div > div > div > div > div, .totaltotal > div{
  padding: 1px;
}

.wordBreak *, .wordBreak {
  word-break: break-all;
}

.srNo {
  width: 3%;
  min-width: 3%;
}
.design {
  width: 10%;
  min-width: 10%;
}
.diamond{
  width: 22%;
  min-width: 22%;
}

.metal{
  width: 22%;
  min-width: 22%;
}

.stone{
  width: 22%;
  min-width: 22%;
}

.otherAmount {
  width: 5%;
  min-width: 5%;
}
.labour {
  width: 9%;
  min-width: 9%;
}
.totalAmount {
  width: 7%;
  min-width: 7%;
}

.w_20 {
  width: 20%;
  min-width: 20%;
}

.img {
  max-width: 75px;
  max-height: 75px;
  object-fit: contain;
}

.min_height_15 {
  min-height: 15px;
}

.total {
  width: 13%;
  min-width: 13%;
}

.taxes {
    width: 93%;
    min-width: 93%;
}

.height_createBy{
    height: 100px;
}

@media print {
  .print_sec_sum4 {
    display: none !important;
  }

  .detailPrint5 {
    font-size: 8px;
  }

  .detailPrint5Table {
    font-size: 6px;
  }
  .subHeadFont{
    font-size: 8px;
    line-height: 10px;
  }
  .sumFont{
    font-size: 7px;
  }
  .detailPrint5{
    zoom: unset;
  }
}
