.estimate1Container *{
    font-size: 14px;
    word-break: normal;
}

.img{
    max-height: 75px;
    object-fit: contain;
    object-fit-position: center;
}

@media print{
    .print_sec_sum4{
        display: none !important;
    }
}