.containerExportPrint{
    max-width: 798px;
    margin: 0 auto;
    padding: 0 15px;
}

.img_container{
    display: grid;
    grid-template-columns: repeat(4, 23.5%);
    grid-gap: 2%;
}

@media print{
    .print_sec_sum4 {
        display: none !important;
      }
}