.exportPrintContainer{
    max-width: 762px;
    padding: 0;
    margin: 0 auto;
    zoom: 1.5;
}

.withImageExport{
    padding-top: 2px;
}

.exportPrintContainer * {
    font-size: 8px;
    line-height: 120%;
    word-break: break-word;
}

.exportPrintContainer .btn_white{
    font-size: 10px;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    position: relative;
    padding: 3px 4px 3px 3.5px;
    border: 1px solid #C9C9C9;
    background: linear-gradient(to bottom, #FFF, #EBEBEB);
    border-radius: 5px;
    box-shadow: inset 0px 1px 0px #F0F0F0, 0px 4px 0px 0px #DBDBDB, 0px 2px 3px #999;
}

.rowExport {
    /* padding: 1px; */
}

.srNoExport{
    width: 3%;    
    min-width: 3%;
}

.itemExport{
    width: 5%;    
    min-width: 5%;
}

.ktColExport{
    width: 4%;    
    min-width: 4%;
}

.qtyExport{
    width: 4%;    
    min-width: 4%;
}

.grossExport{
    width: 4%;    
    min-width: 4%;
}

.netExport{
    width: 4%;    
    min-width: 4%;
}

.wastageExport{
    width: 4%;    
    min-width: 4%;
}

.totalGoldExport{
    width: 4%;    
    min-width: 4%;
}

.goldGmExport{
    width: 5%;    
    min-width: 5%;
}

.goldValueExport{
    width: 4%;
    min-width: 4%;
}



.diamondSec{
    width: 24%;
    min-width: 24%;
}
.diamondColorExport{
    width: 20%;    
    min-width: 20%;
}
.diaShapeExport{
    width: 16%;    
    min-width: 16%;
}

.diaPcsExport{
    width: 16%;    
    min-width: 16%;
}
 .diaCtsExport{
    width: 16%;    
    min-width: 16%;
}
.diaRateExport{
    width: 16%;
    min-width: 16%;
}
.diaValueExport{
    width: 16%;    
    min-width: 16%;
}


.c2CsSec{
    width: 15%;
    min-width: 15%;
}
.c2csPcsExport{
    width: 22%;    
    min-width: 22%;
}

 .c2csCtsExport{
    width: 26%;    
    min-width: 26%;
}

.c2csRateExport{
    width: 26%;    
    min-width: 26%;
}

.c2csValueExport{
    width: 26%;    
    min-width: 26%;
}



.totalCtsExport{
    width:  3.25%;    
    min-width:  3.25%;
}

.totalValExport{
    width: 4.5%;    
    min-width: 4.5%;
}

.enamelWtExport{
    width:  3.25%;    
    min-width:  3.25%;
}

.labourValueExport{
    width: 4.5%;    
    min-width: 4.5%;
}

.totalFobExport{
    width: 4.5%;    
    min-width: 4.5%;
}


@media print {
    .exportPrintContainer{
        zoom: unset;
    }
    .print_sec_sum4 {
        display: none !important;
      }
}