.invoiceprint8 *, .invoiceprint8 .target_footer{
    font-size: 10px !important;
    line-height: 15px;
}

.Detail{
    width: 16%;
    min-width: 16%;
}
.Gross{
    width: 14%;
    min-width: 14%;
}
.Net{
    width: 14%;
    min-width: 14%;
}
.Pcs{
    width: 14%;
    min-width: 14%;
}
.Qty{
    width: 14%;
    min-width: 14%;
}
.Rate{
    width: 14%;
    min-width: 14%;
}
.Amount{
    width: 14%;
    min-width: 14%;
}

