.invoicePrint4CloneContainer *{
    font-size: 14px;
}

.invoicePrint4CloneContainer input{
    min-width: 163px;
}

.imageLogoInovicePrint4{
    max-width: 160px;
    max-height: 103px;
    object-fit: contain;
}