.containerinvp4{
    max-width: 1200px !important;
    padding: 0 15px !important;
    margin: 2rem auto !important;
    width: 100% !important;
}
.linesinvp4 {
    line-height: 100%;
    padding: 2px;
    height: 12.5px;
    font-size: 12px;
}
.theadinvp4{
    height: 24px;
    border: 1px solid #e8e8e8;
    font-size: 14px;
}
.descinvp4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28%;
    border-right: 1px solid #e8e8e8;
}
.summaryinvp4{
    min-height: 3rem;
    border: 1px solid #e8e8e8;
    border-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.wordsinvp4{
    min-height: 2rem;
    height: 100%;
    border: 1px solid #e8e8e8;
    border-top: 0px;
    padding-left: 2px;
    font-size: 12px;
}
.noteinvp4{
    font-size: 12px;
    padding-left: 2px;
    border: 1px solid #e8e8e8;
    border-top: 0px;
}
.declarationinvp4{
    border: 1px solid #e8e8e8;
    border-top: 0px;
    border-bottom: 0px;
    min-height: 2rem;
    height: 100%;
}
.fs12invp4{
    font-size: 12px;
}
.discHeadinvp4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    border: 1px solid #d8d7d7;
    margin-top: 0px;
    font-weight: bold;
    border-right: 0px;
    border-left: 0px;
    width: 100%;

}
.wp1tbinvp4 {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3px;
}
.tableinvp4 {
    display: flex;
    flex-direction: column;
}
.wp3tbinvp4 {
    width: 25%;
    height: 100%;
    padding: 0 4px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.tbodyinvp4 {
    display: flex;
    justify-content: space-between;
    border-left: 1px solid #d8d7d7;
    border-right: 1px solid #d8d7d7;
}
.wp1invp4 {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.theadinvp4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    border: 1px solid #d8d7d7;
    margin-top: 0px;
    font-weight: bold;
}

.descriptioninovicePrint4{
    position: absolute;
    top: 50%;
    text-align: center;
}
.fsinvp4 {
    font-size: 11px;
    line-height: 120%;
}
.brtopinvp4 {
    border-top: 2px solid #d8d7d7;
}

.wp3invp4 {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.empdivinvp4{
    height: 25px;
    border-top: 2px solid #d4d4d4;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

@media print{
    .btnpcl{
        display: none !important;
    }
        .print_sec_sum4 {
            display: none !important;
          }

          .subheadinvp4, .wordsinvp4, .noteinvp4, .declarationinvp4, .footerINVP4{
            page-break-inside: avoid;
          }
}