.jewelelryRetailInvoiceContainer{
    max-width: 1200px !important;
    padding-bottom: 60px;
}

.imgJewelleryRetailinovicePrint3{
    height: auto !important;
    max-width: 160px;
}

.jewelelryRetailInvoiceContainer *{
    font-size: 12px;
}

.w_20JewerryRetailInvoicePrint{
    width: 20%;
}

.srNoJewerryRetailInvoicePrint{
    width: 5%;
}

.productJewerryRetailInvoicePrint{
    width: 25%;
}
.materialJewerryRetailInvoicePrint{
    width: 50%;
}
.metalMakingJewerryRetailInvoicePrint{
    width: 15%;
}
.othersJewerryRetailInvoicePrint{
    width: 15%;
}

.totalJewerryRetailInvoicePrint{
    width: 15%;
}

.wordsJewellry{
    width: 64.05%;
    height: 200px; 
}

.wordsJewerryRetailInvoicePrint{
    background-color: #ffcccc;
    flex: 1 1;
    border: 1px solid #000; 
}

.RemarkJewelleryInvoicePrintC{
    flex: 0 0;
}

.discountJewerryRetailInvoicePrint{
    width: 35.9%;
}

.minHeight20RetailinvoicePrint3{
    min-height: 20px;
}

@media print{
    .jewelelryRetailInvoiceContainer{
        max-width: 100% !important;
        padding-bottom: 0;
    }
}