.container_jts{
    max-width: 1200px;
    width: 100%;
    padding: 10px;
    padding-bottom: 5rem;
    margin: 0 auto;
}
.fs_jts{
    font-size: 14px;
    line-height: 16px;
}
.lh_jts{
    line-height: 20px !important;
}
.fs2_jts{
    font-size: 16px;
    line-height: 18px;
}
.thead_jts{
    display: flex;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
    background-color: #F2F2F2;
    border: 1px solid #DDDDDD;
    border-top: 0px;
}
.col1_jts{
    width: 10%;
}
.col2_jts{
    width: 15%;
}
.col3_jts{
    width: 62%;
}
.col4_jts{
    width: 13%;
}
.center_jts{
    display: flex;
    justify-content: center;
    align-items: center;
}
.start_jts{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.end_jts{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.brr_jts{
    border-right: 1px solid #DDDDDD;
}
.brl_jts{
    border-left: 1px solid #DDDDDD;
}
.brb_jts{
    border-bottom: 1px solid #DDDDDD;
}