.container_ji2 *{
    box-sizing: border-box;
    word-break: break-all;
}
.container_ji2{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 3rem;
    padding-bottom: 7rem;
}
.headlabel_ji2{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.fs_ji2{
    font-size: 14px;
}
.lh_ji2{
    line-height: 16px;
}
.w33_ji2{
    width: 33.33%;
}
.center_ji2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.endc_ji2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.pad_end_ji2{
    padding-right: 2px;
}
.pad_start_ji2{
    padding-left: 2px;
}

.col1_ji2{
    width: 5%;
}
.col2_ji2{
    width: 20%;
}
.col3_ji2{
    width: 8%;
}
.col4_ji2{
    width: 6%;
}
.col5_ji2{
    width: 7%;
}
.col6_ji2{
    width: 10%;
}
.col7_ji2{
    width: 11%;
}
.col8_ji2{
    width: 10%;
}
.col9_ji2{
    width: 10%;
}
.col10_ji2{
    width: 13%;
}