* {
    box-sizing: border-box;
}

.containerPCL3 {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 10.5px;
}

.headlinepcl3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: #939292;
    color: white;
    font-size: 30px !important;
    font-family: calibri;
    padding-left: 10px;
    margin-top: 1rem;
}

.headlinepcl3Tot {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 25px;
    background-color: #cccaca;
    font-size: 20px !important;
    font-family: calibri;
    padding-left: 10px;
}

.headpcl3 {
    height: 118px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headpcl3Content {
    display: flex;
    flex-direction: column;
    width: 70%;
    font-size: 12px;
    height: 118px;
    line-height: 15px;
    padding-top: 4px;
    padding-left: 4px;
}

.fslhpcl3 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px !important;
    font-size: 13px;
}

.pcl313 {
    font-size: 13px;
}

.headpcl3Img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80pt;
    width: 30%;
}

.dynamicHeadpcl31 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 8px;
    width: 33.33%;
    min-height: 50pt;
    line-height: 18px;
    border-right: 1px solid #DDDDDD;
}

.dynamicHeadpcl32 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 8px;
    width: 33.33%;
    min-height: 50pt;
    line-height: 18px;
    border-right: 1px solid #DDDDDD;
}

.dynamicHeadpcl33 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 8px;
    width: 33.33%;
    min-height: 50pt;
    height: 100%;
    line-height: 18px;
    padding-top: 4px;
}

.dynamicHeadpcl3main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #8e8e8e;
    border-left: 1px solid #8e8e8e;
    border-right: 1px solid #8e8e8e;
    min-height: 55pt;
    height: 100%;
}

.billnopcl3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3px;
}

.billno3pdlpcl3 {
    padding-left: 20px;
}

.pcl3billnow {
    width: 50%;
}

.pcl3Table {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 0px;
}

.pcl3tableHead {
    display: flex;
    border: 1px solid #989898;
    background-color: #f1f1f1dd;
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.th1pcl3 {
    width: 2%;
    height: 34pt;
    border-right: 1px solid #a3a3a3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.th2pcl3 {
    width: 12%;
    height: 34pt;
    border-right: 1px solid #a3a3a3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.th3pcl3 {
    width: 22%;
    height: 34pt;
    border-right: 1px solid #a3a3a3;
    display: flex;
    justify-content: center;
    align-items: center;

}

.th4pcl3 {
    width: 22%;
    height: 34pt;
    border-right: 1px solid #a3a3a3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.th5pcl3 {
    width: 22%;
    height: 34pt;
    border-right: 1px solid #a3a3a3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.th6pcl3 {
    width: 13%;
    height: 34pt;
    border-right: 1px solid #a3a3a3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.th7pcl3 {
    width: 6%;
    height: 44px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.th7Dpcl3 {
    height: 20px;
    font-size: 15.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.th3flexpcl3 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.th3flex1pcl3 {
    display: flex;
    font-size: 14px;
    height: 22px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #989898;
}

.th3flex2pcl3 {
    display: flex;
    justify-content: space-between;
}

.th3Wpcl3 {
    width: 17%;
    height: 16pt;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    line-height: 8px;
}

.brRightDpcl3pcl3 {
    border-right: none !important;
}

.th4Wpcl3 {
    width: 20%;
    height: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 9px;
}

.th4flexpcl3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.th4flex1pcl3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #989898;
    font-size: 14px;
    height: 22px;
}

.th4flex2pcl3 {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.th5flexpcl3 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.th5flex1pcl3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 22px;
    border-bottom: 1px solid #989898;
}

.th5flex2pcl3 {
    display: flex;
    justify-content: space-between;
    height: 15pt;
    font-size: 14px;
}

.th5Wpcl3 {
    height: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
}


.th6flexpcl3 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.th6flex1pcl3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 22px;
    border-bottom: 1px solid #989898;
}

.th6flex2pcl3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 17pt;
    line-height: 11px;
    /* padding: 3px; */
    font-size: 14px;
}

.th6Wpcl3 {
    width: 33%;
    height: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableBodypcl3 {
    display: flex;
    align-items: center;
    border-right: 1px solid #989898;
    width: 2%;
}
.tableBodypcl3_1 {
    display: flex;
    align-items: center;
    border-right: 1px solid #989898;
    width: 12%;
    padding-top: 5px;
}

.tbflexpcl3 {
    display: flex;
}

.thDWpcl3 {
    height: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thDflexpcl3 {
    display: flex;
    justify-content: space-between;
}

.borderrightpcl3 {
    border-right: 1px solid #989898;
    height: 34pt;
    border-bottom: 1px solid #989898;
}

.thDpcl3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thDEpcl3 {
    width: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0px solid #989898;
    height: 20px;
    
}

.pcl3TableCopy {
    width: 100%;
    border-right: 1px solid black;
    border-left: 1px solid;
    display: flex;
    border-bottom: 1px solid #989898;
    min-height: 90pt;
    border-top: 1px solid #989898;

}

.pcl3TableCopyD {
    width: 100%;
    height: 23px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    display: flex;
    border-bottom: 1px solid black;
}

.th2Dpcl3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 16px;
    font-size: 14px;
    width: 100%;
}

.th2DJobpcl3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1px;
    padding-top: 5px;
}

.th2DEpcl3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgpcl3 {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diamondPcl3 {
    border-right: 1px solid #989898;
    width: 22%;
}

.diamondValuepcl3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.metalPcl3 {
    border-right: 1px solid #989898;
    width: 22%;
}

.MetalPcl3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.labourPcl3 {
    width: 13%;
    border-right: 1px solid #989898;
}

.sumarypcl3 {
    display: flex;
    justify-content: flex-end;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 100%;
    border-bottom: 1px solid #989898;
}

.amountSummarySectionpcl3 {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1rem;
}

.amountSummarySectionpcl3SUM {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #989898;
    border-top: 0px;
    min-height: 140px;
    padding-top: 3px;
}

.amountSummarySectionpcl3DIAM {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #989898;
    border-top: 0px;
    min-height: 140px;
    border-left: 0px;
    padding-top: 3px;
}

.fapcl3 {
    display: flex;
    justify-content: space-between;
}

.fapcl3D {
    display: flex;
    justify-content: space-between;
}

.fapcl3DE {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2px;
}
.totamtpcl3{
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;
    font-size: 13px;
    line-height: 12px;
    text-align: center;
    height: 100%;
}
.headbodypcl3{
    font-size: 10.5px;
}
.mrpWpcl3 {
    display: flex;
    justify-content: end;
    align-items: center;
}

.textrightpcl3 {
    text-align: right;
}

.textleftpcl3 {
    text-align: left;
}

.mrpWpcl3D {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2px;
    font-size: 12px;
}

.footerTotalpcl3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 194px;
}

.footerSummarypcl3 {
    height: 100%;
}

.footertotpcl3 {
    height: 20px;
    background-color: rgb(232, 232, 232) !important;
}

.sumpcl3 {
    width: 100%;
    height: 18pt;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    background-color: #eeeded;
    border-left: 2px solid #989898;
    border-bottom: 2px solid #989898;
    border-right: 2px solid #989898;
}

.diaDetailpcl3 {
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeded;
    font-weight: 700;
    border-top: 1px solid #989898;
}

.diaDetailpcl3D {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbd8d8;
    font-weight: 700;
}

.createdPcl3 {
    width: 12.5%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 164px;
    font-weight: 700;
    border: 1px solid #989898;
    border-right: 2px solid #989898;
    border-left: 0px;
    border-bottom: 2px solid #989898;
}
.brbpcl3all{
    border: 2px solid #989898;
    border-top: 0px;
    border-left: 0px;
}

.flexSumpcl3 {
    display: flex;
}

.bgColorpcl3 {
    background-color: "#e8e8e8" !important;
}

.positionpcl3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


#Imgpcl3 {
    height: 85%;
    width: 100%;
}

.totalAndDiscountpcl3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.th7pcl3Dis {
    position: relative;
    bottom: 0;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 10px;

}

.th7pcl3ss {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 16px;
    font-size: 12px;
    padding-right: 2px;
}

#pcl3Img {
    height: 85%;
    width: 65%;
}

.printpcl3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem;
}

.chboxlabelpcl3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-right: 2rem;
}

.printpcl3 {
    position: relative;
    right: 0;
    user-select: none;
}
.createpcl3{
    font-size: 16px;
}
.fsdpcl3{
    font-size: 9px !important;
}
.pd5pcl3{
    padding-top: 5px;
}
@media print {
    .printpcl3 {
        display: none;
    }

    .pcl3TableCopy {
        page-break-inside: avoid;
        font-size: 9.5px !important;
    }
    body{
        margin-top: 1rem;
    }

}
