.containerPCL3 {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 10.5px;
    line-height: 120%;
    padding: 10px;
}

.headlinepcl3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: #939292;
    color: white;
    line-height: 120%;
    font-size: 30px !important;
    font-family: calibri;
    padding-left: 10px;
    margin-top: 1rem;
}

.headlinepcl3Tot {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 25px;
    background-color: #cccaca;
    line-height: 120%;
    font-size: 20px !important;
    font-family: calibri;
    padding-left: 10px;
}

.headpcl3 {
    min-height: 95px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headpcl3Content {
    display: flex;
    flex-direction: column;
    width: 70%;
    line-height: 120%;
    /* font-size: 12px; */
    /* height: 118px; */
    line-height: 15px;
    padding-top: 4px;
    padding-left: 4px;
}

.fslhpcl3 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 13px !important;
    line-height: 120%;
    font-size: 11px;
}

.pcl313 {
    line-height: 120%;
    font-size: 11px;
}

.headpcl3Img {
    display: flex;
    justify-content: end;
    align-items: center;
    /* height: 85%; */
    width: 20%;
}

.dynamicHeadpcl31 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 8px;
    width: 33.33%;
    min-height: 50pt;
    line-height: 18px;
    border-right: 1px solid #DDDDDD;
}

.dynamicHeadpcl32 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 8px;
    width: 33.33%;
    min-height: 50pt;
    line-height: 18px;
    border-right: 1px solid #DDDDDD;
}

.dynamicHeadpcl33 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 8px;
    width: 33.33%;
    min-height: 50pt;
    height: 100%;
    line-height: 18px;
    padding-top: 4px;
}

.dynamicHeadpcl3main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #8e8e8e;
    border-left: 1px solid #8e8e8e;
    border-right: 1px solid #8e8e8e;
    min-height: 55pt;
    height: 100%;
}

.billnopcl3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3px;
}

.billno3pdlpcl3 {
    padding-left: 20px;
}

.pcl3billnow {
    width: 50%;
}

.pcl3Table {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 0px;
}

.pcl3tableHead {
    display: flex;
    border: 1px solid #989898;
    background-color: #F5F5F5;
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.th1pcl3 {
    width: 2%;
    height: 34pt;
    border-right: 1px solid #a3a3a3;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 120%;
    font-size: 14px;
}

.th2pcl3 {
    width: 12%;
    height: 34pt;
    border-right: 1px solid #a3a3a3;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 120%;
    font-size: 14px;
}

.th3pcl3 {
    width: 22%;
    height: 34pt;
    border-right: 1px solid #a3a3a3;
    display: flex;
    justify-content: center;
    align-items: center;

}

.th4pcl3 {
    width: 22%;
    height: 34pt;
    border-right: 1px solid #a3a3a3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.th5pcl3 {
    width: 22%;
    height: 34pt;
    border-right: 1px solid #a3a3a3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.th6pcl3 {
    width: 13%;
    height: 34pt;
    border-right: 1px solid #a3a3a3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.th7pcl3 {
    width: 7%;
    height: 44px;
    line-height: 120%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.th7Dpcl3 {
    min-height: 1.8rem;
    line-height: 120%;
    font-size: 15.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.th3flexpcl3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.th3flex1pcl3 {
    display: flex;
    line-height: 120%;
    font-size: 14px;
    /* height: 22px; */
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #989898;
}
.th3flex1pcl3diamond {
    display: flex;
    line-height: 120%;
    font-size: 14px;
    height: 50%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #989898;
}

.th3flex2pcl3 {
    display: flex;
    justify-content: space-between;
    
}
.th3flex2pcl3diamond {
    display: flex;
    justify-content: space-between;
    height: 50%;
}

.th3Wpcl3 {
    width: 17%;
    /* height: 16pt; */
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 120%;
    font-size: 13px;
    line-height: 8px;
}

.brRightDpcl3pcl3 {
    border-right: none !important;
}

.th4Wpcl3 {
    width: 20%;
    /* height: 15pt; */
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 9px;
}

.th4flexpcl3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.th4flex1pcl3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #989898;
    line-height: 120%;
    font-size: 14px;
    /* height: 22px; */
}
.th4flex1pcl3metal {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #989898;
    line-height: 120%;
    font-size: 14px;
    height: 50%;
    /* height: 22px; */
}

.th4flex2pcl3metal {
    display: flex;
    justify-content: space-between;
    line-height: 120%;
    font-size: 14px;
    height: 50%;
}

.th4flex2pcl3 {
    display: flex;
    justify-content: space-between;
    line-height: 120%;
    font-size: 14px;
}

.th5flexpcl3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.th5flex1pcl3 {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 120%;
    font-size: 14px;
    height: 22px;
    border-bottom: 1px solid #989898;
}

.th5flex2pcl3 {
    display: flex;
    justify-content: space-between;
    height: 15pt;
    line-height: 120%;
    font-size: 14px;
}

.th5Wpcl3 {
    height: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
}


.th6flexpcl3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.th6flex1pcl3 {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 120%;
    font-size: 14px;
    height: 22px;
    border-bottom: 1px solid #989898;
}
.labourandotherpcl3 {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 120%;
    font-size: 14px;
    /* height: 22px; */
    border-bottom: 1px solid #989898;
    height: 49%;
}

.th6flex2pcl3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 17pt;
    line-height: 120%;
    font-size: 14px;
    min-height: 1.8rem;
}
.otherandlabourpcl3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 120%;
    font-size: 14px;
    height: 50%;
}

.th6Wpcl3 {
    width: 33%;
    /* height: 15pt; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableBodypcl3 {
    display: flex;
    align-items: center;
    border-right: 1px solid #989898;
    width: 2%;
    min-height: 1.8rem;
}

.tableBodypcl3_1 {
    display: flex;
    align-items: center;
    border-right: 1px solid #989898;
    width: 12%;
    padding-top: 5px;
}

.tbflexpcl3 {
    display: flex;
}

.thDWpcl3 {
    height: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thDflexpcl3 {
    display: flex;
    justify-content: space-between;
}

.borderrightpcl3 {
    border-right: 1px solid #989898;
    height: 34pt;
    border-bottom: 1px solid #989898;
}

.thDpcl3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thDEpcl3 {
    width: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0px solid #989898;
    height: 20px;

}

.pcl3TableCopy {
    width: 100%;
    border-right: 1px solid black;
    border-left: 1px solid;
    display: flex;
    border-bottom: 1px solid #989898;
    min-height: 90pt;
    border-top: 1px solid #989898;

}

.pcl3TableCopyD {
    width: 100%;
    /* height: 23px; */
    border-right: 1px solid black;
    border-left: 1px solid black;
    display: flex;
    border-bottom: 1px solid black;
}

.th2Dpcl3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 16px;
    line-height: 120%;
    font-size: 14px;
    width: 100%;
}

.th2DJobpcl3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1px;
    padding-top: 5px;
}

.th2DEpcl3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgpcl3 {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diamondPcl3 {
    border-right: 1px solid #989898;
    width: 22%;
}

.diamondValuepcl3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 1.8rem;
}

.metalPcl3 {
    border-right: 1px solid #989898;
    width: 22%;
}

.MetalPcl3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 1.8rem;
}

.labourPcl3 {
    width: 13%;
    border-right: 1px solid #989898;
}

.sumarypcl3 {
    display: flex;
    justify-content: flex-end;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 100%;
    border-bottom: 1px solid #989898;
}

.amountSummarySectionpcl3 {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1rem;
}

.amountSummarySectionpcl3SUM {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #989898;
    border-top: 0px;
    min-height: 140px;
    padding-top: 3px;
}

.amountSummarySectionpcl3DIAM {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #989898;
    border-top: 0px;
    min-height: 140px;
    border-left: 0px;
    padding-top: 3px;
}

.fapcl3 {
    display: flex;
    justify-content: space-between;
}

.fapcl3D {
    display: flex;
    justify-content: space-between;
}

.fapcl3DE {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2px;
}

.totamtpcl3 {
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;
    line-height: 120%;
    font-size: 13px;
    line-height: 12px;
    text-align: center;
    height: 100%;
}

.headbodypcl3 {
    line-height: 120%;
    font-size: 10.5px;
}

.mrpWpcl3 {
    display: flex;
    justify-content: end;
    align-items: center;
}

.textrightpcl3 {
    text-align: right;
}

.textleftpcl3 {
    text-align: left;
}

.mrpWpcl3D {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2px;
    line-height: 120%;
    font-size: 12px;
}

.footerTotalpcl3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 194px;
}

.footerSummarypcl3 {
    height: 100%;
}

.footertotpcl3 {
    height: 20px;
    background-color: rgb(232, 232, 232) !important;
}

.sumpcl3 {
    width: 100%;
    height: 18pt;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    background-color: #F5F5F5   ;
    border-left: 2px solid #989898;
    border-bottom: 2px solid #989898;
    border-right: 2px solid #989898;
}

.diaDetailpcl3 {
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    font-weight: 700;
    border-top: 1px solid #989898;
}

.diaDetailpcl3D {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbd8d8;
    font-weight: 700;
}

.createdPcl3 {
    width: 12.5%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 164px;
    font-weight: 700;
    border: 1px solid #989898;
    border-right: 2px solid #989898;
    border-left: 0px;
    border-bottom: 2px solid #989898;
    padding-bottom: 3px;
}

.brbpcl3all {
    border: 2px solid #989898;
    border-top: 0px;
    border-left: 0px;
}

.flexSumpcl3 {
    display: flex;
}

.bgColorpcl3 {
    background-color: "#e8e8e8" !important;
}

.positionpcl3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.labourandotherAMTpcl3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#Imgpcl3 {
    height: 85%;
    width: 100%;
}

.totalAndDiscountpcl3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.th7pcl3Dis {
    position: relative;
    bottom: 0;
    /* height: 22px; */
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 120%;
    font-size: 14px;
    line-height: 10px;
    min-height: 1.8rem;

}

.th7pcl3ss {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 16px;
    line-height: 120%;
    font-size: 12px;
    padding-right: 2px;
}

#pcl3Img {
    height: 75%;
    width: 50%;
    object-fit: contain;
    object-position: right;
}

.printpcl3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem;
}

.chboxlabelpcl3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-right: 2rem;
}

.printpcl3 {
    position: relative;
    right: 0;
    user-select: none;
}

.createpcl3 {
    line-height: 120%;
    font-size: 16px;
}

.fsdpcl3 {
    line-height:  8px;
    font-size: 9.5px ;
}

.pd5pcl3 {
    padding-top: 5px;
}

@media print {
    .printpcl3 {
        display: none;
    }
    .fsdpcl3{
        font-size: 6px !important;
        line-height: 120%;
    }
    .pcl3TableCopy {
        page-break-inside: avoid;
        line-height: 120%;
        font-size: 6px !important;
    }

    body {
        margin-top: 1rem;
    }

        .print_sec_sum4 {
            display: none !important;
          }
          .fslhpcl3{
            display: flex;
            align-items: center;
            width: 100%;
            height: 15px !important;
            line-height: 120%;
            font-size: 8.5px !important;
    }
    .th7Dpcl3 {
        min-height: 1.2rem;
        line-height: 120%;
        font-size: 15.5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .th6flex2pcl3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 14pt;
        line-height: 120%;
        font-size: 14px;
        min-height: 1.2rem;
    }
    .th7pcl3Dis {
        position: relative;
        bottom: 0;
        /* height: 22px; */
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 120%;
        font-size: 14px;
        line-height: 10px;
        min-height: 1.2rem;
    }
    .diamondValuepcl3 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-height: 1.2rem;
    }
    .MetalPcl3 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-height: 1.2rem;
    }
    .tableBodypcl3 {
        display: flex;
        align-items: center;
        border-right: 1px solid #989898;
        width: 2%;
        min-height: 1.2rem;
    }
    .th6Wpcl3 {
        width: 33%;
        /* height: 13pt; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
 
}