html {
    scrollbar-gutter: stable;
}

.mainRTMT {
    width: 50vw !important;
    font-family: Calibri;
    letter-spacing: 0.2px !important;
    margin: 20px auto;
    margin-bottom: 10rem;
    align-items: flex-start;
}

.retMatFont_22 {
    font-size: 22px;
}

.retMatFont_14 {
    font-size: 14px;
    line-height: 14px;
}

.retMatFont_18 {
    font-size: 18px;
    line-height: 18px;
    padding-left: 2px;
}

.retMatFont_13 {
    font-size: 13px;
    line-height: 13px;
}

.spdispFlx {
    display: flex;
}

.spMnHead {
    display: flex;
    padding-bottom: 10px;
}

.spHeadWdth1 {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.spHeadWdth2 {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.dividHeadWdth1 {
    width: 35%;
}

.dividHeadWdth2 {
    width: 65%;
}

.spHeadWdth3 {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.theLogoImg {
    width: 70px;
    height: 70px;
    align-items: center;
}

.theIconImgPrnt {
    width: 35px;
    height: 35px;
    align-items: center;
}

.theIconImg {
    width: 30px;
    height: 30px;
    align-items: center;
}

.spSubHed {
    width: 100%;
    padding: 10px;
}

.subSubHed1 {
    width: 50%;
}

.subSubHed2 {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.bdyhead {
    font-size: 16px;
    line-height: 16px;
}

.mnContnt {
    width: 66%;
    border-top: 1px solid #000000;
    padding-top: 10px;
}

.imgContnt {
    width: 34%;
    border-top: 1px solid #000000;
}

.imgWdth {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    object-fit: contain;
    padding: 20px;
}

.bodyContnt {
    width: 58%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.detlsContnt {
    display: flex;
}

.dimndNClrstn {
    width: 12.50%;
    padding: 0px;
    padding-left: 6px;
    padding-right: 6px;
}

.proprDvson {
    width: 16.67%;
    padding-left: 6px;
    padding-right: 6px;
}

.detlsMtlContnt {
    width: 35%;
    display: flex;
}

.mtalStyl {
    width: 25%;
    padding: 0px;
    padding-left: 6px;
    padding-right: 6px;
}

.mtalFistCol {
    width: 25%;
}

.mtalotherRmnSpac {
    width: 75%;
}

.mtalproprDvson {
    width: 33.33%;
    padding-left: 6px;
    padding-right: 6px;
}

.sFntStyl {
    color: #7a7a7a;
    font-weight: bold;
    padding: 5px;
}

.spacCell {
    height: 25px !important;
}

.spBrdrAllBlck {
    border: 1px solid #000000;
    padding: 20px;
}

.spBrdrAll {
    border: 1px solid #f1f1f1;
}

.spBrdrRigt {
    border-right: 1px solid #f1f1f1;
}

.spBrdrLft {
    border-left: 1px solid #f1f1f1;
}

.spBrdrTop {
    border-top: 1px solid #f1f1f1;
}

.spBrdrBtom {
    border-bottom: 1px solid #f1f1f1;
}

.spBrdrBtomNone {
    border-bottom: none;
}

.spBgColr {
    background-color: #f1f1f1;
}

.spbrWord {
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.spBold {
    font-weight: bold !important;
}

@media print {
    @page {
        margin: 20px 20px;
    }

    .mainRTMT {
        width: 100vw !important;
    }

    .dis-none {
        display: none;
    }
    
    .spHeadWdth1,
    .spHeadWdth3,
    .spSubHed {
        display: none;
    }

    .detlsContnt,
    .bodyContnt {
        width: 100%;
    }

    .detlsMtlContnt {
        width: 60%;
    }

    .retMatFont_22 {
        font-size: 18px;
    }

    .retMatFont_14 {
        font-size: 12px;
        line-height: 12px;
    }

    .retMatFont_13 {
        font-size: 11px;
        line-height: 11px;
    }
}