.containerRetailPrint {
    max-width: 1120px !important;
}

.containerRetailPrint{
    font-size: 14px;
}

.headlinepRetailPrint {
    background-color: #939292;
    color: white;
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 1px;
    min-height: 31px;
}

.line_height_110 {
    line-height: 110%;
}

.min_height_44_retail_print_1{
    min-height: 44px;
}


.srNoRetailPrint {
    width: 5%;
    min-width: 5%;
}

.poductDiscriptionRetailPrint {
    width: 146px;
    min-width: 146px;
}

.poductDiscriptionRetailPrint {
    width: 15%;
    min-width: 15%;
}

.materialDescriptionRetailPrint {
    width: 50%;
    min-width: 50%;
}



.materialRetailPrint,
.wtRetailPrint,
.rateRetailPrint,
.amountRetailPrint {
    width: 18%;
    min-width: 18%;
}

.qtyRetailPrint,
.pcsRetailPrint
 {
    width: 14%;
    min-width: 14%;
}

.materialRetailPrintNoRate,
.wtRetailPrintNoRate,
.amountRetailPrintNoRate {
    width: 21.6%;
    min-width: 21.6%;
}

.qtyRetailPrintNoRate,
.pcsRetailPrintNoRate{
    width: 17.6%;
    min-width: 17.6%;
}


.materialRetailPrint1,
.wtRetailPrint1,
.rateRetailPrint1{
    width: 22%;
    min-width: 22%;
}

.qtyRetailPrint1,
.pcsRetailPrint1
 {
    width: 17%;
    min-width: 17%;
}

.materialRetailPrint1NoRate{
    width: 28.5%;
    min-width: 28.5%;
}

.wtRetailPrint1NoRate{
    width: 24.5%;
    min-width: 24.5%;
}

.qtyRetailPrint1NoRate,
.pcsRetailPrint1NoRate{
    width: 23.5%;
    min-width: 23.5%;
}


.makingRetailPrint, .totalRetailPrint, .othersRetailPrint {
    width: 10%;
    min-width: 10%;
}


.totalInWordsRetailPrint {
    width: 727px;
    min-width: 727px;
}

.cgstRetailPrint {
    width: 220px;
    min-width: 220px;
}

.retailPrintLogo {
    width: 130px;
    height: 90px;
    object-fit: contain;
}

.product_image_retailPrint{
    max-height: 100px;
    object-fit: contain;
}

.printBtnRetailPrint{
    right: -10%;
    margin-top: -25px;
}

.ratePara{
    font-size: 15px;
}

@media print{
    .print_sec_sum4{
        display: none !important;
    }
}