.containerRetailPrint {
    max-width: 1120px !important;
}

.headlinepRetailPrint {
    background-color: #939292;
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    min-height: 31px;
}

.line_height_110 {
    line-height: 110%;
}

/* .srNoRetailPrint {
    width: 40px;
    min-width: 40px;
} */

.srNoRetailPrint {
    width: 5%;
    min-width: 5%;
}

.poductDiscriptionRetailPrint {
    width: 146px;
    min-width: 146px;
}

.poductDiscriptionRetailPrint {
    width: 15%;
    min-width: 15%;
}

.materialDescriptionRetailPrint {
    width: 50%;
    min-width: 50%;
}

/* .materialDescriptionRetailPrint {
    width: px;
    min-width: px;
} */

/* .materialRetailPrint,
.qtyRetailPrint {
    width: 100px;
    min-width: 100px;
} */

.materialRetailPrint,
.wtRetailPrint,
.rateRetailPrint,
.amountRetailPrint {
    width: 18%;
    min-width: 18%;
}

/* .pcsRetailPrint {
    width: 60px;
    min-width: 60px;
}

.wtRetailPrint {
    width: 80px;
} */
.qtyRetailPrint,
.pcsRetailPrint
 {
    width: 14%;
    min-width: 14%;
}

.makingRetailPrint, .totalRetailPrint, .othersRetailPrint {
    width: 10%;
    min-width: 10%;
}

/* .rateRetailPrint,
.amountRetailPrint {
    width: 100px;
    min-width: 100px;
} */

/* .makingRetailPrint,
.totalRetailPrint {
    width: 120px;
    min-width: 120px;
} */

/* .othersRetailPrint {
    width: 100px;
    min-width: 100px;
} */

.totalInWordsRetailPrint {
    width: 727px;
    min-width: 727px;
}

.cgstRetailPrint {
    width: 220px;
    min-width: 220px;
}

.retailPrintLogo {
    width: 130px;
    height: 90px;
    object-fit: contain;
}

.product_image_retailPrint{
    max-height: 100px;
    object-fit: contain;
}

.printBtnRetailPrint{
    right: -30%;
    margin-top: -25px;
}