.containerJewellery * {
  font-size: 13px;
}

.containerJewellery > div:first-child > div:first-child > span:first-child {
  font-size: 16px !important;
}

.srNo {
  width: 7%;
  min-width: 7%;
}

.image {
  width: 10%;
  min-width: 10%;
}

.itemCode {
  width: 11%;
  min-width: 11%;
}

.description {
  width: 40%;
  min-width: 40%;
}

.unitPrice {
  width: 11%;
  min-width: 11%;
}

.amount {
  width: 14%;
  min-width: 14%;
}

.quantity{
  width: 7%;
  min-width: 7%;
}
.total{
  width: 68%;
  min-width: 68%;
}

.remarks {
  width: 33.3%;
  min-width: 33.3%;
}

.gold18k{
  width: 34.7%;
  min-width: 34.7%;
}

.grandTotal{
  width: 18%;
  min-width: 18%;
}

@media print {
  .containerJewellery {
    max-width: 100% !important;
  }
  .print_sec_sum4{
    display: none !important;
  }
}
