.invoice-container {
  width: 600px;
  height: 400px;
  padding: 10px;
  font-family: Arial, sans-serif;
  border: 4px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;

  .header {
    display: flex;
    justify-content: space-between;

    .party1 {
      display: flex;
      width: 60%;

      &.from {
        .logo {
          width: 100px;
          height: 100px;
          margin-right: 16px;
        }
      }

      .address-block {
        font-size: 16px;
        line-height: 1.5;

        strong {
          display: block;
          margin-bottom: 6px;
        }
        p {
          font-size: 12px;
        }
      }
    }

    .party2 {
      display: flex;
      width: 40%;

      &.from {
        .logo {
          width: 100px;
          height: 100px;
          margin-right: 16px;
        }
      }

      .address-block {
        font-size: 16px;
        line-height: 1.5;
        padding: 0px 10px;

        strong {
          display: block;
          margin-bottom: 6px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }

  .divider {
    border: none;
    border-top: 2px solid #000;
    margin: 5px 0;
  }

  .mid-section {
    display: flex;
    padding: 0px 10px;

    .secondOPart1 {
      width: 40%;
      border-right: 1px solid;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      p {
        font-size: 12px;
      }

      span {
        font-weight: bold;
        font-size: 15px;
      }
    }

    .secondOPart2 {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .secondOPart3 {
      width: 33.33%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-size: 9px;
        font-weight: 600;
        margin-top: 5px !important;
      }
    }
  }

  .footer {
    margin-top: 10px;
    font-size: 16px;

    h4 {
      margin: 0 0 0px 60px !important;
      font-size: 14px;
      font-weight: 600;
    }

    p {
      margin: 0 0 15px 60px !important;
      font-size: 14px;
    }

    ul {
      padding-left: 24px;
      margin: 0 0 16px;

      li {
        margin-bottom: 6px;
      }
    }

    .footer-qr {
      display: flex;
      align-items: center;
      flex-direction: column;

      .small-qr {
        width: 100px;
        height: 100px;
      }

      .download-text {
        font-size: 12px;
        line-height: 1.3;
      }
    }
  }
}

.customList {
  list-style: none;
  padding-left: 0;
}

.customList li::before {
  content: "•"; /* or a Unicode icon / FontAwesome glyph */
  margin-right: 0.5em;
  font-weight: bold;
  color: #333; /* any color you like */
}
