.summary6 * {
    font-size: 12px;
    line-height: 120%;
    word-break: normal;
}

.sr{
    width: 6%;
    min-width: 6%;
}
.design{
    width: 12%;
    min-width: 12%;
}
.metal, 
.gwt,
.nwt,
.dpcs,
.dwt,
.cspcs,
.cswt,
.order,
.total{
    width: 9.12%;
    min-width: 9.12%;
}

.tax{
    width: 27.29%;
    min-width: 27.29%;
}

.taxWords{
    width: 72.71%;
    min-width: 72.71%;
}

/* .wid_22{
    width: 23.9721%;
    min-width: 23.9721%;
} */

.d_grid{
    grid-template-columns: repeat(auto-fill, minmax(23%, 1fr)); /* or your desired column configuration */
    grid-gap: 2%;
}

.print_sec_sum4{
    position: absolute;
    right: 5%;
    top: 15px;
}

@media print{
    .print_sec_sum4{
        display: none !important;
    }
}