.summary12Container {
    max-width: 788px !important;
    margin-bottom: 50px;
}

.zoom1_5_summary12 {
    zoom: 1.2;
}

.summary12Container .remark_sum4 {
    min-width: 70px;
    width: 70px;
}

.summary12Container .sum4_table div , .summary12Container .sum4_table div > p{
    line-height: 120%;
    font-size: 10px;
}

.summary12Container .dia_wt_ctw_sum4,
.summary12Container .dia_rate_sum4,
.summary12Container .cs_wt_sum4,
.summary12Container .cs_rate_sum4,
.summary12Container .cs_amt_sum4,
.summary12Container .gold_fine_sum4 {
    min-width: 43.3px;
    width: 43.3px;
}

.summary12Container .dia_amt_sum4 {
    min-width: 53.3px;
    width: 53.3px;
}

.summary12Container .other_sum4,
.summary12Container .other_amt_sum4 {
    min-width: 45px;
    width: 45px;
}

.summary12Container .amount_sum_4 {
    min-width: 59px;
    width: 59px;
}

.summary12Container .g_wt_sum4,
.summary12Container .nwt_sum4,
.summary12Container .gold_amt_sum4 {
    min-width: 45px;
    width: 45px;
}

.summary12Container .diamondTypeSum4 {
    width: 400px;
}

.summary12Container .csTypeSum4 {
    width: 350px;
}

.summary12Container .height34Sum4 {
    height: 25px;
}

.summary12Container .declaration_summary_12 b>div {
    padding-bottom: 5px;
    font-size: 11px;
    line-height: 120%;
    padding-left: 2px;
}

.summary12Remark br {
    display: block !important;
}

.summary12Container .sum4_table .summary12Remark {
    font-size: 12px;
    line-height: 120%;
    padding-left: 8px;
}

.remarks_sum4.no_break::after {
    content: "";
    display: table;
    clear: both;
    padding-bottom: 5px;
}

@media print {
    .zoom1_5_summary12 {
        zoom: unset;
    }

        .print_sec_sum4 {
            display: none !important;
          }

}