.summarysContaoiner *{
    line-height: 120%;
    font-size: 12px
}

.sr_no{
    width: 5%;
    min-width: 5%;
}

.design{
    width: 10%;
    min-width: 10%;
}

.design1 {
    width: 15.1%;
    min-width: 15.1%;
}

.designImagePrintAll {
    max-width: 100%;
}

.amtDetail{
    width: 7.1%;
    min-width: 7.1%;
}

.amtTotalDetail1{
    width: 9.1%;
    min-width: 9.1%;
}

.amtTotalDetail{
    width: 7.1%;
    min-width: 7.1%;
}

.diamond{
    width: 21.3%;
    min-width: 21.3%;
}

.stone{
    width: 14.2%;
    min-width: 14.2%;
}

.total{
    width: 15%;
    min-width: 15%;
}

.total1{
    width: 20.1%;
    min-width: 20.1%;
}

@media print{
    .d_none{
        display: none !important;
    }
        .print_sec_sum4 {
            display: none !important;
          }
}