.tax_invoice_container {
    zoom: 1.2;
}

.tax_invoice_container *,
.container * {
    font-size: 9px;
    line-height: 120%;
    word-break: normal;
}

.rowWisePad p {
    padding: 2px;
}

.srno {
    width: 3%;
    min-width: 3%;
}

.design {
    width: 7%;
    min-width: 7%;
}

.diamond {
    width: 24%;
    min-width: 24%;
}

.metal {
    width: 19%;
    min-width: 19%;
}

.stone {
    width: 24%;
    min-width: 24%;
}

.otherAmount {
    width: 6%;
    min-width: 6%;
}

.labourAmount {
    width: 10%;
    min-width: 10%;
}

.totalAmount {
    width: 7%;
    min-width: 7%;
}

.cgst {
    width: 93%;
    min-width: 93%;
}

.pad_1 {
    padding: 1px;
}

.customerFirmName {
    font-size: 12px;
}

.wordBreak * {
    word-break: break-all !important;
}

.font_13,
.font_13 * {
    font-size: 13px;
}

.font_12,
.font_12 * {
    font-size: 12px;
}

.font_15,
.font_15 * {
    font-size: 15px;
}

.minHeight {
    min-Height: 12px;
}


@media print {
    .print_sec_sum4 {
        display: none !important;
    }

    .tax_invoice_container {
        padding-top: 5px !important;
    }

    .tax_invoice_container *,
    .container * {
        font-size: 8px;
    }

    .customerFirmName {
        font-size: 10px;
    }

    .tax_invoice_container *,
    .container *,
    .font_13,
    .font_13 *,
    .font_12,
    .font_12 *,
    .font_15,
    .font_15 * {
        font-size: 8px;
    }

    .tax_invoice_container {
        zoom: unset;
    }
    
}