.tax_invoice_container {
    zoom: 1.3;
}

.tax_invoice_container *, .container * {
    font-size: 8px;
    line-height: 120%;
    word-break: normal;
}

.srno {
    width: 4%;
    min-width: 4%;
}

.design {
    width: 7%;
    min-width: 7%;
}

.diamond {
    width: 24%;
    min-width: 24%;
}

.metal {
    width: 17%;
    min-width: 17%;
}

.stone {
    width: 24%;
    min-width: 24%;
}

.otherAmount {
    width: 7%;
    min-width: 7%;
}

.labourAmount {
    width: 10%;
    min-width: 10%;
}

.totalAmount {
    width: 7%;
    min-width: 7%;
}

.cgst{
    width: 93%;
    min-width: 93%;
}

.pad_1{
    padding: 1px;
}

.customerFirmName{
    font-size: 12px;
}

.wordBreak *{
    word-break: break-all;
}





@media print {
    .print_sec_sum4 {
        display: none !important;
    }

    .tax_invoice_container *, .container * {
        font-size: 8px;
    }

    .customerFirmName{
        font-size: 10px;
    }
}