.diamond_custom_4B {
    height: 17.8pt;
    overflow: hidden;
}

#img4B{
    height: 150px !important;
    width: 110px !important;
    display: block;
    margin-left: auto;
}
.size4AB{
    width: 30pt;
}
.part_2_4B {
    width: 85pt;
    height: 243pt;
    overflow: hidden;
}
.barcodeText4AB{
    width: 60pt;
    height: 130pt;
    border-right: 1px solid black;
}
.barcode_sticker_4AB{
    display: flex;
    height: 130pt;
}
.barcode_img_4B>img {
    top: 75px !important;
    height: 25px !important;
    width: 170px !important;
    object-fit: cover;
    transform: rotate(90deg) !important;
    position: relative !important;
    left: -66px !important;
    margin: 0px;
}
.barcode_img_container_4B>img {
    height: 23px !important;
    width: 175px !important;
    object-fit: cover !important;
    transform: rotate(90deg) !important;
    position: relative !important;
    left: -66px !important;
    right: -56px !important;
    top: 91px !important;
}
.barcode_img_container_4B {
    width: 27pt;
    position: relative;
    border-left: 1px solid #000;
}